
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE DangNhap(
	TenDN varchar(50) NOT NULL,
	MatKhau varchar(50) NOT NULL,
	HoTen varchar(50) NULL,
	HinhAnh varchar(50) NULL,
	SDT varchar(50) NULL,
	Email varchar(50) NULL,
	DiaChi varchar(50) NULL,
 CONSTRAINT PK_DangNhap PRIMARY KEY CLUSTERED 
(
	TenDN ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE Diem(
   Id INT IDENTITY(1,1) PRIMARY KEY,
	MaSV varchar(50) NOT NULL,
	MaMH varchar(50) NOT NULL,
	DiemCC float NULL,
	DiemGK float NULL,
	DiemCK float NULL,
	DTB float NULL,
	DiemChu varchar(50) NULL,
	KetQua varchar(50) NULL,
	NamHoc varchar(50) NULL,
	HocKy varchar(50) NULL,
	TrangThai int NOT NULL,
 CONSTRAINT [PK_Diem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE GiangVien(
	MaGV varchar(50) NOT NULL,
	HoTenGV varchar(50) NULL,
	GioiTinh bit NULL,
	Email varchar(50) NULL,
	SDT varchar(50) NULL,
	MatKhau varchar(50) NOT NULL,
	TrinhDo varchar(50) NULL,
	MaKhoa varchar(50) NOT NULL,
	TrangThai int NOT NULL,
	HinhAnh varchar(50) NULL,
 CONSTRAINT [PK_GiangVien] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE Khoa(
	MaKhoa varchar(50) NOT NULL,
	TenKhoa varchar(50) NULL,
	DiaChi varchar(50) NULL,
	SDT varchar(50) NULL,
	TrangThai int NOT NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE Lop(
	MaLop varchar(50) NOT NULL,
	TenLop varchar(50) NULL,
	MaNganh varchar(50) NOT NULL,
	SiSoLop varchar(50) NULL,
	TrangThai int NOT NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE MonHoc(
	MaMH varchar(50) NOT NULL,
	TenMH varchar(50) NULL,
	STC int NOT NULL,
	SoTietLT int NULL,
	SoTietTH int NULL,
	MaKhoa varchar(50) NOT NULL,
	TrangThai int NOT NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE Nganh(
	MaNganh varchar(50) NOT NULL,
	TenNganh varchar(50) NULL,
	MaKhoa varchar(50) NOT NULL,
	TongSTC varchar(50) NULL,
	TrangThai int NOT NULL,
 CONSTRAINT [PK_Nganh] PRIMARY KEY CLUSTERED 
(
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE SinhVien(
	MaSV varchar(50) NOT NULL,
	HoDemSV varchar(50) NULL,
	TenSV varchar(50) NULL,
	MatKhau varchar(50) NOT NULL,
	HinhAnh varchar(50) NULL,
	NgaySinh datetime NULL,
	GioiTinh varchar(50) NULL,
	Email varchar(50) NULL,
	Malop varchar(50) NOT NULL,
	TrangThai int NOT NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE Diem  WITH CHECK ADD  CONSTRAINT FK_Diem_MonHoc FOREIGN KEY (MaMH)
REFERENCES MonHoc (MaMH)
GO
ALTER TABLE Diem CHECK CONSTRAINT FK_Diem_MonHoc
GO
ALTER TABLE Diem  WITH CHECK ADD  CONSTRAINT FK_Diem_SinhVien FOREIGN KEY (MaSV)
REFERENCES SinhVien (MaSV)
GO
ALTER TABLE Diem CHECK CONSTRAINT FK_Diem_SinhVien
GO
ALTER TABLE GiangVien  WITH CHECK ADD  CONSTRAINT FK_GiangVien_Khoa FOREIGN KEY (MaKhoa)
REFERENCES Khoa (MaKhoa)
GO
ALTER TABLE GiangVien CHECK CONSTRAINT FK_GiangVien_Khoa
GO
ALTER TABLE Lop  WITH CHECK ADD  CONSTRAINT FK_Lop_Nganh FOREIGN KEY (MaNganh)
REFERENCES Nganh (MaNganh)
GO
ALTER TABLE Lop CHECK CONSTRAINT FK_Lop_Nganh
GO
ALTER TABLE MonHoc WITH CHECK ADD  CONSTRAINT FK_MonHoc_Khoa FOREIGN KEY (MaKhoa)
REFERENCES Khoa (MaKhoa)
GO
ALTER TABLE MonHoc CHECK CONSTRAINT FK_MonHoc_Khoa
GO
ALTER TABLE Nganh  WITH CHECK ADD  CONSTRAINT FK_Nganh_Khoa FOREIGN KEY(MaKhoa)
REFERENCES Khoa (MaKhoa)
GO
ALTER TABLE Nganh CHECK CONSTRAINT FK_Nganh_Khoa
GO
ALTER TABLE SinhVien  WITH CHECK ADD  CONSTRAINT FK_SinhVien_Lop FOREIGN KEY(Malop)
REFERENCES Lop (MaLop)
GO
ALTER TABLE SinhVien CHECK CONSTRAINT FK_SinhVien_Lop

